.container{
  background-color: aqua;
  width: 100%;

}




 .mql{
  color: brown;
  text-align: center;
  display: flex;
  flex-direction: column

 }
 @media only screen and (min-width: 800px) {

  .mql{
   flex-direction: row;
  }
 }



